.header {
    width: 100%;
    background: #1C1C21;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.menu {
    min-width: 1280px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
}

.menu__item_left {
    display: flex;
    column-gap: 49px;
}
.menu__item {
}

.menu__logo {
    position: absolute;
    left: 495px;
}

.menu__link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.menu__text {
    margin: 0;
    margin-left: 8px;
}