.header {
    width: 100%;
    background: #1C1C21;
    display: flex;
    justify-content: center;
}
.menu {
    padding: 16px 0 0;
}
.menu__items {

}
.menu__item {

}
.menu__logo {

}
.menu__link {

}